html, body { 
height: 100%
width: 100%; }


.navbar{ background:#ffffff;
 ; }

 .navbar-brand {
  min-height: 55px;
  color: #000000;
  cursor: pointer
  background-repeat: no-repeat;
  padding-left: 10px;
}

.navbar-default .navbar-nav li a{ 
color:#000000; 
display:block;}

.dropdown-menu{ 
position: relative;
display: inline-block; }

.dropdown-menu{ 
display: none;
position: absolute;
min-width: 150px;
z-index: 1;
padding: 20px 16px; 

}


#footer{ position: absolute;
padding-bottom:;	
right: 5px;
bottom: -14em;
left:;
padding: 1rem;
text-align: center;
font-size: 8px; }

#bg{ 
width: 100%;
min-height: 50em;
padding-bottom:;
position: center center;
margin: auto;
border: solid none;
padding-top: -98%;
margin-bottom: ;


background-image: url('file:///Users/Arlan/Desktop/New%20Bootstrap/Images/IMG_4377Arlan%20Kor%20Pow%20turn_.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center
background-size: cover;
}

.row{ 
	padding-top: 100px;
	padding-left: 10px;
width: 100%; }

.alternate{ padding-left: 100px;
text-align: right; }

.footer{ position: absolute;
padding-bottom:;	
right: 5px;
bottom: -10em;
left:;
padding: 1rem;
text-align: center;
font-size: 8px;  }





