html, body{
height:100% 
width: 100%; } 

.navbar{ background: #ffffff; 
padding-left: 10px;
}

.navbar-brand{ 
min-height: 55px; 
color: black; 
cursor: pointer 
background-repeat: #000000; 
}

.navbar-default .navbar-nav li a{ 
color:#000000; 
display:block;
padding-right: 15px;
}

.dropdown-menu{
position: relative; 
display: inline-block; }

.dropdown-menu{ 
display: none;
position: absolute;
min-width: 150px; 
z-index: 1; 
padding: 20px 16px; 

}

#footer{ position: absolute; 
 padding-bottom:; 
 right: 5px; 
 bottom: -14em; 
 left:; 
 padding: 1rem; 
 text-align: center; 
 font-size: 8px; } 

#bg{
width: 100%;
min-height: 50em; 
padding-bottom:120px;
position: fixed; 
margin: auto;
border: solid none;
padding-top: -98%;
margin-bottom: }

.row{ 
padding-top: 100px; 
padding-left: 10px; 
width: 100% 
}

.alternate{
padding-left: 100px; 
text-align: right;}

.footer{ position: absolute;
padding-bottom:;
right: 5px;
bottom: -10em;
left:;
padding: 1rem;
text-align: center; 
font-size: 8px; 
}

.img-responsive{
padding-right: 20px;
right: 40px;}

.container{
 line-height: 20px;
 font-size: 10px;} 



.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
