html, body { 
height: 100%
width: 100%; }


.navbar{ background:#ffffff;
 }

.navbar-brand {
  min-height: 55px;
  color: #000000;
  cursor: pointer
  background-repeat: no-repeat;
  padding-left: 10px;
}
